:root {
    --color-blue-pale: hsl(225, 100%, 94%);
    --color-blue-paler: hsl(225, 100%, 98%);
    --color-blue-bright: hsl(245, 75%, 52%);
    --color-blue-desat: hsl(224, 23%, 55%);
    --color-blue-dark: hsl(223, 47%, 23%);
    --color-white: #ffff;
}





